.header {
  color: #fff;
  font-size: 30px;
  width: 100%;
  height: 70px;
  background-color: #e6e7e8;
  border-radius: 7px 7px 0 0;

  .header-button {
    width: 50px;
    height: 40px;
  }

  .buttons {
    position: absolute;
    width: 8px;
    height: 8px;
    top: 12px;
    background: #ff8f8f;
    border-radius: 50%;
    left: 22px;

    &:after,
    &:before {
      position: absolute;
      content: "";
      width: 8px;
      height: 8px;
      border-radius: 50%;
    }

    &:after {
      left: 12px;
      background-color: #5ec3af;
    }
    &:before {
      left: -12px;
      background-color: darken(#ff8f8f, 20%);
    }
  }
  .options {
    display: flex;
    justify-content: flex-end;

    .option {
      padding: 10px;
      cursor: pointer;
      color: black;
      font-size: 14px;
    }
  }
}
